.recommended{
    flex-basis: 30%;
}
.side-vdeo-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    cursor: pointer;
}
.side-vdeo-list img{
    flex-basis: 49%;
    width: 50%;
    border-radius: 4px;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 13px;
    margin-bottom: 5px;
    color: #000;
    font-weight: 500;
}
.vid-info p{
    font-size: 12px;
    color: #5a5a5a;
    margin-bottom: 2px;
}
